.lineClampText {
    font-family: Montserrat;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.labels {
    display: block;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 24px;
    color: rgb(17 24 39);
}